<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.neppplus.jickbbangcopy_210912">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_jickbang"
        android:label="@string/jickbang_copy"
        android:roundIcon="@mipmap/ic_jickbang_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JickbbangCopy_210912">
        <activity
            android:name=".InnerActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>